<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link href="http://fonts.googleapis.com/css?family=Monofett" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">
<title>Hello User!</title>  
<style type="text/css">    

body {
  font-family: "Droid Sans Mono";
  font-size: 14px;
  color: #333333;
}

h1, h2, h3 {
  margin: 0;
  font-weight: normal;
  color: #333333;
}

h1 {
  font-family: Monofett;
  letter-spacing: -1px;
  font-size: 2.6em;
}

h2 {
  font-size: 1.8em;
}

a {
  text-decoration: none;
  color: #356AA0;
}

a:hover {
  color: #CC0000;
}


/* Header */

body {
  width: 40em;
  margin: 0 auto;
}

#header {
  width: 25em;
  height: 5em;
  margin: 0 auto;
}

#header h1 {
  float: left;
  text-transform: lowercase;
  letter-spacing: -3px;
  font-size: 4.4em;
}

#header h1 span {
  color: #CC0000;
}

#header h2 {
  float: left;
  padding: 3em 0 0 1em;        
  text-transform: lowercase;
  font-size: 1em;
  font-weight: bold;
  color: #333333;
}

#header h2 a {
  color: #333333;
}

#page ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#page li {
	padding: 1em 1.2em 0em 1.2em;
}

#page li ul {
	line-height: 2em;
}

#page li li {
	margin: 0;
	padding: 0;
	background: none;
	border-bottom: 1px solid #EFEFEF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#page li a:nth-child(2) {
}

#page li div {
    text-align:center;    
    width:100%;
}

#page h2 {
	text-transform: lowercase;
	letter-spacing: -1px;
	color: #CC0000;
}

#page a {
	border: none;
}

#menu {
    width: 100%;
    height: 4em;
}

#menu ul {
	margin: 0;
	padding: 0 0 0 1em;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	padding: .5em .7em;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: -1px;
	font-size: 1.8em;
    color:#cc0000;
}

#menu a:hover {
	color: #356AA0;
}

#menu a.active {
	color: #356AA0;
}

#badge {
    float:right;
}
#footer p {
	margin: 0;
	padding: 2em 0 0 0;
	text-align: center;
	line-height: normal;
}

:-moz-placeholder {
	color: #356AA0;
}
::-webkit-input-placeholder {
	color: #356AA0;
}

.form-field {
    font-size: 1.5em;
    padding:.25em;
    font-family: Droid Sans Mono;
	letter-spacing: -1px;
	color: #356AA0;
    width: 80%;
}

input, textarea {
    border:1.5px dashed #CC0000;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:5px;
}

input:focus, textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

input.submit {  
    float: right;
    width: 5em;  
    padding: 1em 1em;  
    background: #617798;  
    border: 0;  
    box-shadow: none;
    font-size: 14px;  
    color: #FFFFFF;  
}  

input.submit:hover {  
    background: #CC0000;
}  

.nav { display: none; }
.nav.show { display: block; }
 
</style>
<!-- Style ends here -->  
<script>

    function set(id) {
        document.getElementsByClassName('show')[0].classList.remove('show');
        document.getElementsByClassName('active')[0].classList.remove('active');
        document.getElementById(id).classList.add('show');
        document.getElementById('_'+id).classList.add('active');
    }
    
</script>
</head>  
  
<body>
<!-- start header -->
<div id="header">
  <h1><a href="/">Zap<span>it</span></a></h1>
  <h2><span>&nbsp;Shrink-ray for links</span></h2>
</div>
<!-- end header -->

<!-- start page -->
<div id="page">
  <ul>
    <li><a href="{{ login }}">sign out [{{ user.email() }}]</a></li>
    <li>
        <form id="find" method="get" action="">
            <input class="form-field" type="text" id="query" name="query" placeholder="Search here first" value="" />
            <input class="submit" type="submit" value="Search" />
        </form>
    </li>
    <li>
        <ul id="menu">
            <li><a href="javascript:set('faq');" accesskey="1" id="_faq" title="faq" class='active'>FAQ</a></li>
            <li><a href="javascript:set('wtf');" accesskey="2" id="_wtf" title="wtf">WTF</a></li>
        </ul>
    </li>
    <li class="nav show" id="faq">
        <ul>
            <h2>Frequently Answered Questions</h2>
            <h3>Why have you done this? Haven't you heard of goo.gl, tinyurl, ter.se?</h3>
            <li>Yes, I have but Z4p.it allows <i>memorable<i> social hashtags not just base32 nonsense</li>
            <h3>What's with the site redirect, fella?</h3>
            <li>Some Google App Engine nonsense >sigh<</li>
            <h3>I created a hashtag nine months ago but now it is gone/directing someplace else...<h3>
            <li>Use it or lose it, bro.</li>
            <h3>Can I have a list of your users and their links? I'll pay!<h3>
            <li>NEVAR!</li>
            <h3>Ugh what's all this monospace - do you need a web designer?<h3>
            <li>Its old-skool like me, like sci-fi with shrink rays, I like it!</li>
            <h3>Why can't you spell?<h3>
            <li>I can spell. I am doing it deliberately on purpose to annoy you.</li>
            <h3>I hate you and your site<h3>
            <li>Thanks man, but that's not a question</li>
        </ul>
    </li>
    <li class="nav" id="wtf">
        <ul>
            <h2>World Tae-Kwon-Do Federation</h2>
            <h3>What does Tae-Kwon Do mean?</h3>
            <li>Literally foot-fist way</li>
            <h3>Are you a member?</h3>
            <li>No, I was affliated to the INTA which is ITF</li>
            <h3>Are you tripping, bro?<h3>
            <li>Not at all</li>
            <h3>I hate you now<h3>
            <li>Thanks man, but that's not a question</li>
        </ul>
    </li>
  </ul>
</div>
<!-- end page -->
<div id="footer">
  <p id="legal">&copy;2013 All Rights Reserved. | <a href="http://www.anodyne-solutions.com">Anodyne Solutions</a></p>
  <img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" /><img id="badge" src="/static/images/html5.png" alt="standard or go home"/>
</div></body>

</html>

