<style>
article {
    font-family: Monofett;
	font-size: 3em;
}

title {
    padding:5em;
	display: block;
	color: #FC0;
}

author {
	margin: 0;
	font-weight: normal;
	color: #333333;
    display: block;
}

something {
	font-size: .5em;
	min-width:20em;
	min-height:20em;
	color: #0cdda0;
}

review {
	font-size: 2em;
}
</style>
<article>
<author>Ernest Hummingbird</author>
<title>The Life of Bees</title>
<something>Four score and seven bees ago...</something>
</article>

