<!doctype html>
<title>{% block title %}Pithy urls{% endblock %} | zap.it</title>
<meta name="viewport" content="width=device-width; height=device-height; initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="http://fonts.googleapis.com/css?family=Monofett" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="../static/default.css">
<!--link rel="stylesheet" href="../static/style.css"-->
<div class=page>
  <div class=navigation>
  {% if user %}
    <a href="{{ login }}">sign out [{{ user.email() }}]</a>
  {% else %}
    {{ login }}
  {% endif %}
  </div>
  <div class=body>
  {% block content %}{% endblock content%}
  </div>
  <div class=footer>
      <a href='/'>Home</a>&nbsp;|&nbsp; z4p.it &mdash; GAE app zapped links - pithy links
  </div>
</div>

