<!DOCTYPE html>
<html lang="en">
<head>
<title>Hello User!</title>  
<meta charset="utf-8">
<link href="http://fonts.googleapis.com/css?family=Monofett" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">
<style type="text/css">
body {
  font-family: "Droid Sans Mono";
  font-size: 14px;
  color: #333333;
}

h1, h2, h3 {
  margin: 0;
  font-weight: normal;
  color: #333333;
}

h1 {
  font-family: Monofett;
  letter-spacing: -1px;
  font-size: 2.6em;
}

h2 {
  font-size: 1.8em;
}

a {
  text-decoration: none;
  color: #356AA0;
}

a:hover {
  color: #CC0000;
}


/* Header */

body {
  width: 40em;
  margin: 0 auto;
}

#header {
  width: 25em;
  height: 5em;
  margin: 0 auto;
}

#header h1 {
  float: left;
  text-transform: lowercase;
  letter-spacing: -3px;
  font-size: 4.4em;
}

#header h1 span {
  color: #CC0000;
}

#header h2 {
  float: left;
  padding: 3em 0 0 1em;        
  text-transform: lowercase;
  font-size: 1em;
  font-weight: bold;
  color: #333333;
}

#header h2 a {
  color: #333333;
}

#page ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#page li {
	padding: 1em 1.2em 0em 1.2em;
}

#page li ul {
	line-height: 2em;
}

#page li li {
	margin: 0;
	padding: 0;
	background: none;
	border-bottom: 1px solid #EFEFEF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#page li a:nth-child(2) {
}

#page li div {
    text-align:center;    
    width:100%;
}

#page h2 {
	text-transform: lowercase;
	letter-spacing: -1px;
	color: #CC0000;
}

#page a {
	border: none;
}

#menu {
    width: 100%;
    height: 4em;
}

#menu ul {
	margin: 0;
	padding: 0 0 0 1em;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	padding: .5em .7em;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: -1px;
	font-size: 1.8em;
    color:#cc0000;
}

#menu a:hover {
	color: #356AA0;
}

#menu a.active {
	color: #356AA0;
}

#badge {
    float:right;
}
#footer p {
	margin: 0;
	padding: 2em 0 0 0;
	text-align: center;
	line-height: normal;
}

:-moz-placeholder {
	color: #356AA0;
}
::-webkit-input-placeholder {
	color: #356AA0;
}

.form-field {
    font-size: 1.5em;
    padding:.25em;
    font-family: Droid Sans Mono;
	letter-spacing: -1px;
	color: #356AA0;
    width: 80%;
}

input, textarea {
    border:1.5px dashed #CC0000;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:5px;
}

input:focus, textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

input.submit {  
    float: right;
    width: 5em;  
    padding: 1em 1em;  
    background: #617798;  
    border: 0;  
    box-shadow: none;
    font-size: 14px;  
    color: #FFFFFF;  
}  

input.submit:hover {  
    background: #CC0000;
}  

.nav { display: none; height:1em; }
.nav.show { display: block; height:25em;}
 
</style>
<!-- Style ends here -->  
<script>

    function set(id) {
        document.getElementsByClassName('show')[0].classList.remove('show');
        document.getElementsByClassName('active')[0].classList.remove('active');
        document.getElementById(id).classList.add('show');
        document.getElementById('_'+id).classList.add('active');
    }
    
</script>
</head>  
  
<body>
<!-- start header -->
<div id="header">
  <h1><a href="/">Zap<span>it</span></a></h1>
  <h2><span>&nbsp;Shrink-ray for links</span></h2>
</div>
<!-- end header -->

<!-- start page -->
<div id="page">
  <ul>
    {% if user %}
    <li><a href="{{ login }}">sign out [{{ user.email() }}]</a></li>
    {% else %}
    <li>
      <ul>
          {% for button in login %}
            <li class='button'>{{ button|safe }}</li>
          {% endfor %}
      </ul>
    </li>
    {% endif %}
    <li>
        <form id="find" method="get" action="">
            <input class="form-field" type="text" id="query" name="query" placeholder="Search here first" value="" />
            <input class="submit" type="submit" value="Search" />
        </form>
    </li>
    <li>
        <form action="/" method="post">
	        <p>
		      <input type="text" class="form-field" id="uri" name="uri" placeholder="...paste a link" value="{{ uri }}"/>
	        </p>
	        <p>
		      <input type="text" class="form-field" id="name" name="name" placeholder="then a (shorter) name..." value="{{ name }}"/>
	        </p>
	        <p>
		      <textarea class="form-field" id="text" name="text" placeholder="and add some comments">{{ text }}</textarea>
              <input class="submit" type="submit" value="Shrink" />
	        </p>
		        
        </form>
        <h2>{{ error_msg }}</h2>
    </li>
    <li>
        <ul id="menu">
            <li><a href="javascript:set('pop');" accesskey="1" id="_pop" title="pop" class='active'>Popular</a></li>
            <li><a href="javascript:set('new');" accesskey="2" id="_new" title="new">Recent</a></li>
            <li><a href="javascript:set('hot');" accesskey="3" id="_hot" title="hot">Trendy</a></li>
            <li><a href="javascript:set('you');" accesskey="4" id="_you" title="you">Yours</a></li>
        </ul>
    </li>
    <li class="nav show" id="pop">
        <ul>
        {% for link in links %}
            <li>
                <a href="/{{ link.name }}"/>[{{ loop.index }}]</a>|
                <a href="{{ link.name }}" title="{{ link.uri }}">{{ link.name }}</a>|
                <a href="{{ link.uri }}" title="{{ link.text }}">{{ link.text }}</a>
            </li>
        {% endfor %}
            <div><a href="/links?section=popular">Moar...</a></div>
        </ul>
    </li>
    <li class="nav" id="new">
        <ul>
        {% for link in new %}
            <li>
                <a href="/{{ link.name }}"/>[{{ loop.index }}]</a>|
                <a href="{{ link.name }}" title="{{ link.uri }}">{{ link.name }}</a>|
                <a href="{{ link.uri }}" title="{{ link.text }}">{{ link.text }}</a>
            </li>
        {% endfor %}
            <div><a href="/links?section=recent">Moar...</a></div>
        </ul>
    </li>
    <li class="nav" id="hot">
        <ul>
        {% for link in hot %}
            <li>
                <a href="/{{ link.name }}"/>[{{ loop.index }}]</a>|
                <a href="{{ link.name }}" title="{{ link.uri }}">{{ link.name }}</a>|
                <a href="{{ link.uri }}" title="{{ link.text }}">{{ link.text }}</a>
            </li>
        {% endfor %}
            <div><a href="/links?section=trendy">Moar...</a></div>
        </ul>
    </li>
    <li class="nav" id="you">
        <ul>
        {% if you %}
            {% for link in you %}
            <li>
                <a href="/admin/del/{{ link.name }}" title="delete {{ link.name }}"/>[X]</a>|
                <a href="{{ link.name }}" title="{{ link.uri }}">{{ link.name }}</a>|
                <a href="{{ link.uri }}" title="{{ link.text }}">{{ link.text }}</a>
            </li>
            {% endfor %}
            <div><a href="/links?section=yours">Moar...</a></div> 
        {% else %}
            <li>
                <a href="/halp" title="WAT"/>[X]</a>|
                <a href="/halp" title="HALP is at hand">HALP</a>|
                <a href="/halp" title="halp">No links yet? Get started with one we made for you!</a>
            </li>        
        {% endif %}
        </ul>
    </li>
  </ul>
</div>
<!-- end page -->
<div id="footer">
  <p id="legal">&copy;2013 All Rights Reserved. | <a href="http://www.anodyne-solutions.com">Anodyne Solutions</a></p>
  <img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" /><img id="badge" src="/static/images/html5.png" alt="standard or go home"/>
</div></body>

</html>

