<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link href="http://fonts.googleapis.com/css?family=Monofett" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">
<title>Hello User!</title>  
<style type="text/css">    

body {
  font-family: "Droid Sans Mono";
  font-size: 14px;
  color: #333333;
}

h1, h2, h3 {
  margin: 0;
  font-weight: normal;
  color: #333333;
}

h1 {
  font-family: Monofett;
  letter-spacing: -1px;
  font-size: 2.6em;
}

h2 {
  font-size: 1.8em;
}

a {
  text-decoration: none;
  color: #356AA0;
}

a:hover {
  color: #CC0000;
}


/* Header */

body {
  width: 40em;
  margin: 0 auto;
}

#header {
  width: 25em;
  height: 5em;
  margin: 0 auto;
}

#header h1 {
  float: left;
  text-transform: lowercase;
  letter-spacing: -3px;
  font-size: 4.4em;
}

#header h1 span {
  color: #CC0000;
}

#header h2 {
  float: left;
  padding: 3em 0 0 1em;        
  text-transform: lowercase;
  font-size: 1em;
  font-weight: bold;
  color: #333333;
}

#header h2 a {
  color: #333333;
}

#page ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#page li {
	padding: 1em 1.2em 0em 1.2em;
}

#page li ul {
	line-height: 2em;
}

#page li li {
	margin: 0;
	padding: 0;
	background: none;
	border-bottom: 1px solid #EFEFEF;
}

#page h2 {
	margin-bottom: 10px;
	text-transform: lowercase;
	letter-spacing: -1px;
	color: #CC0000;
}

#page a {
	border: none;
}

:-moz-placeholder {
	color: #356AA0;
}
::-webkit-input-placeholder {
	color: #356AA0;
}

.form-field {
    font-size: 1.5em;
    padding:.25em;
    font-family: Droid Sans Mono;
	letter-spacing: -1px;
	color: #356AA0;
    width: 100%;
}

input, textarea {
    border:1.5px dashed #CC0000;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:5px;
}

input:focus, textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
}

.submit input {  
    width: 5em;  
    padding: 1em 1em;  
    background: #617798;  
    border: 0;  
    box-shadow: none;
    font-size: 14px;  
    color: #FFFFFF;  
}  

#footer p {
	margin: 0;
	padding: 2em 0 0 0;
	text-align: center;
	line-height: normal;
}

#page li li {
    padding:1em 10em;
    min-width:150px;
}
  
</style>
<!-- Style ends here -->  
</head>  
  
<body>
<!-- start header -->
<div id="header">
  <h1><a href="/">Zap<span>it</span></a></h1>
  <h2><span>&nbsp;Shrink-ray for links</span></h2>
</div>
<!-- end header -->

<!-- start page -->
<div id="page">
  <ul>
    <li>
        <h2>Login</h2>
        Please choose one of these providers to login to use our service.
        We only use this to identify which links are yours.  
        We don't access your account data at all 
        or keep any other information about you.
    </li>  
    <li>
      <ul>
          {% for button in login %}
            <li class='button'>{{ button|safe }}</li>
          {% endfor %}
      </ul>
    </li>
</div>
<!-- end page -->
<div id="footer">
  <p id="legal">&copy;2013 All Rights Reserved. | <a href="http://www.anodyne-solutions.com">Anodyne Solutions</a></p>
</p>
</div>
</body>
</html>


