<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link href="http://fonts.googleapis.com/css?family=Monofett" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Droid+Sans+Mono" rel="stylesheet" type="text/css">
<title>Hello User!</title>  
<style type="text/css">    
body {
  font-family: "Droid Sans Mono";
  font-size: 14px;
  color: #333333;
}

h1, h2, h3 {
  margin: 0;
  font-weight: normal;
  color: #333333;
}

h1 {
  font-family: Monofett;
  letter-spacing: -1px;
  font-size: 2.6em;
}

h2 {
  font-size: 1.8em;
}

a {
  text-decoration: none;
  color: #356AA0;
}

a:hover {
  color: #CC0000;
}


/* Header */

body {
  width: 40em;
  margin: 0 auto;
}

#header {
  width: 25em;
  height: 5em;
  margin: 0 auto;
}

#header h1 {
  float: left;
  text-transform: lowercase;
  letter-spacing: -3px;
  font-size: 4.4em;
}

#header h1 span {
  color: #CC0000;
}

#header h2 {
  float: left;
  padding: 3em 0 0 1em;        
  text-transform: lowercase;
  font-size: 1em;
  font-weight: bold;
  color: #333333;
}

#header h2 a {
  color: #333333;
}

#page ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#page li {
	padding: 1em 1.2em 0em 1.2em;
}

#page li ul {
	line-height: 2em;
}

#page li li {
	margin: 0;
	padding: 0;
	background: none;
	border-bottom: 1px solid #EFEFEF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#page li a:nth-child(2) {
}

#page li div {
    text-align:center;    
    width:100%;
}

#page h2 {
	text-transform: lowercase;
	letter-spacing: -1px;
	color: #CC0000;
}

#page a {
	border: none;
}

#badge {
    float:right;
}

#prev {
    float:left;
}

#next {
    float:right;
}

#footer p {
	margin: 0;
	padding: 2em 0 0 0;
	text-align: center;
	line-height: normal;
}

</style>
<!-- Style ends here -->  
</head>  
  
<body>
<!-- start header -->
<div id="header">
  <h1><a href="/">Zap<span>it</span></a></h1>
  <h2><span>&nbsp;Shrink-ray for links</span></h2>
</div>
<!-- end header -->

<!-- start page -->
<div id="page">
  <ul>
    <li><a href="{{ login }}">sign out [{{ user.email() }}]</a></li>
    <li>
        <h2>{{ section }}</h2>
    </li>
    <li>
        <ul>
        {% if links %}
            {% for link in links %}
                <li>
                {% if section == 'yours' %}                    
                    <a href="/admin/del/{{ link.name }}" title="delete {{ link.name }}"/>[X]</a>|
                {% else %}
                    <a href="/{{ link.name }}"/>[{{ loop.index }}]</a>|
                {% endif %}
                    <a href="/{{ link.name }}" title="{{ link.uri }}">{{ link.name }}</a>|
                    {% if section == 'results' %}
                    <a href="{{ link.uri }}" title="{{ link.text }}">{{ link.text|safe }}</a>
                    {% else %}
                    <a href="{{ link.uri }}" title="{{ link.text }}">{{ link.text }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        {% else %}
            <h3>There are exactly none.</h3>        
        {% endif %}
        </ul>
    </li>
    <li>
        {% if nexturi %}
        <div class="next" ><a href="{{ nexturi }}">&dash;&dash;&gt;</a></div>
        {% endif %}                

        {% if prevuri %}
        <div class="prev"><a href="{{ prevuri }}">&lt;&dash;&dash;</a></div>
        {% endif %}
    </li>
  </ul>
</div>
<!-- end page -->
<div id="footer">
  <p id="legal">&copy;2013 All Rights Reserved. | <a href="http://www.anodyne-solutions.com">Anodyne Solutions</a></p>
  <img src="https://developers.google.com/appengine/images/appengine-noborder-120x30.gif" 
alt="Powered by Google App Engine" /><img id="badge" src="/static/images/html5.png" alt="standard or go home"/>
</div></body>

</html>

